<div class="row" style="position: relative">
    <div class="col s12 m12 l6 Wrapper-About">
        <div class="col s10 m10 l10 push-l1 push-m1 push-s1 border-about">
            <div class="row container center center-align">
                <div class="col s6 m6 l6 push-l3 push-m3 push-s3">
                    <img src="images/mountains.png" class="responsive-img mountain-about">
                </div>
            </div>
            <div class="center center-align white-text">
                <h3>WHAT WE DO?</h3>
            </div>
            <hr noshade="noshade" width="8%" align="center" style="background-color:#d6d3d0;border:none; height: 5px" />
            <div class="center center-align">
                <span class="span-about"> intensity managed area where we are able to control our feeding program and Genetics in a stricter way. We have an incredible Trophy production year after year. The ranch's free range and leased bordering ranches total 34,000 acres. In recent years this area has produced a couple of Record setting Muleys, in 2011 we took the #3 all time B&C, and in 2010 the #1 archery all time. Our avg. low fence trophy has been between 185-190 and high intensity managed area has been avg. 195-200. We offer 6 day hunts, where you will have a 100% opportunity. In combination to our Mule Deer hunts we have Great Coues and Record Desert Bighorn Sheep. All of our service include a 1:1 Guide/Hunter, hunting license, Transportation from airport, Great Lodging, five star service and food and preparation of trophies for export.</span>
            </div>
        </div>
    </div>
    <div class="show-on-large hide-on-med-and-down">
        <div class="filter-about col l6 m12 s12" style="padding:0px;">
            <img src="images/home_background.jpg" class="img-about">
        </div>
    </div>
</div>