<div class="row" ng-controller="LodgeCtrl">
    <div class="col s12 m12 l4">
        <div class="card" style="height:80vh;">
            <br/>
            <h4 class="card-title center">Lodge</h4>
            <div class="card-content">
                <h6>Upload File to Album:</h6>
                <form action="#">
                    <div class="file-field input-field">
                        <div class="btn brown darken-4">
                            <span class="white-text">File</span>
                            <input class="black-text" type="file" ng-model="files_lodge" ngf-select multiple ngf-resize="{ ratio: '1:4',type: 'image/jpeg',centerCrop: true, pattern='.jpg', restoreExif: false}">
                        </div>
                        <div class="file-path-wrapper">
                            <input id="file_lodge" class="file-path black-text validate" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="center">
                            <a class="btn brown white-text" ng-click="onFileSelected(files_lodge,'Lodge/')">Upload</a>
                            <a ng-click="clear()" class="btn red darken-3 white-text">Clear</a>
                        </div>
                    </div>
                </form>
                <div class="row" ng-show="uploadLodge==true">
                    <div class="progress">
                        <div id="progressLodge" class="indeterminate"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l8">
        <div class="card" style="height:80vh;overflow-y: scroll;-webkit-overflow-scrolling:touch;">
            <br/>
            <h4 class="card-title center">Album</h4>
            <div class="row">
                <div class="col s4" ng-repeat="item in AllLodge">
                    <div class="card z-depth-3">
                        <div class="card-image center-block">
                            <img id="img_LodgeAdmin_{{item.$id}}" ng-click="viewModal('#img_LodgeAdmin_'+item.$id)" httpSrc="{{item.url}}" class="materialboxed responsive-img" width="400" style="height: 100%">
                        </div>
                        <div class="card-action fixed center-align">
                            <a class="btn brown white-text" ng-click="DeleteImageLodge(item.ref,item.$id)">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalFoto_Lodge" class="modal">
        <div class="modal-content center-align">
            <img id="modalLodge" class="responsive-img">
        </div>
        <div class="modal-footer center-align">
            <a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.modal').modal();
    });
</script>