<div class="row" style="margin: 0px;padding:0px;border:none" ng-if="gallery.length>0">
    <div id="monster_bucks" class="col s12 m12 l6 center-align filter-about no-padding">
        <div class="col s12 filter-about" style="height: 100%">
            <div class="center center-align white-text" style="padding-top: 30%">
                <h3>MONSTER BUCKS</h3>
            </div>
            <hr noshade="noshade" width="15%" align="center" style="background-color:#dddddd;border:none; height: 5px;margin-top:5%;margin-bottom: 5%;" />
            <div class="center center-align container">
        <span class="white-text">
            Chaparral Ranch Monster Bucks
        </span>
            </div>
            <br>
            <div style="width: auto; height: auto;position: relative;text-align: center;">
                <a href="#" ng-click="GetAllMonster()"><img src="images/view.png" class="responsive-img mouse" style="width: 10vh"></a>
            </div>
        </div>
    </div>
    <div id="management_bucks" class="col s12 m12 l6 center-align no-padding">
        <div class="col s12 filter-about" style="height: 100%">
            <div class="center center-align white-text" style="padding-top: 30%">
                <h3>MANAGEMENT BUCKS</h3>
            </div>
            <hr noshade="noshade" width="15%" align="center" style="background-color:#dddddd;border:none; height: 5px;margin-top:5%;margin-bottom: 5%;" />
            <div class="center center-align container">
        <span class="white-text">
            Chaparral Ranch Management Bucks
        </span>
            </div>
            <br>
            <div style="width: auto; height: auto;position: relative;text-align: center;">
                <a href="#" ng-click="GetAllManagement()"><img src="images/view.png" class="responsive-img mouse" style="width: 10vh"></a>
            </div>
        </div>
    </div>
</div>
