<div class="Wrapper-About">
    <div class="col m10 s10 l10 push-l1 push-m1 push-s1 container center">
        <div class="row">
            <img src="images/contact.png" class="responsive-img" style="margin-top:10%;">
        </div>
        <div class="row">
            <h2 class="white-text">CONTACT</h2>
            <hr noshade="noshade" width="15%" align="center" style="background-color:#635649;border:none; height: 5px;margin-top:5%;" />
        </div>
        <div class="row white-text">
            <h4>Abraham Garcia III</h4>
            <span> +1(956)334-9085 USA abrahamgarciaiii@hotmail.com </span>
            <h4>Jorge Miranda Pavlovich</h4>
            <span>+52 1(662)229-4630 MX admin@elchaparralranch.com</span>
        </div>
    </div>
</div>
<footer class="page-footer" style="padding:0px;margin: 0px;background:url('http://192.168.1.128:8081/images/footer.jpg') repeat center;">
    <div class="footer-copyright">
        <div class="container center-align">
            © All Right Reserved El Chaparral Ranch 2016
        </div>
    </div>
</footer>