<div class="col s8 m8 l8 center-align border-home">
    <div class="row">
        <div class="col s12 m12 l6 push-l3 center center-align grey-text text-lighten-2">
            <h2 class="center center-align">THE BEST HUNTING DESTINATION IN SONORA, MEXICO.</h2>
            <br/>
            <hr noshade="noshade" width="8%" align="center" style="background-color:#797167;border:none; height: 5px" />
        </div>
    </div>
    <div class="row">
        <div class="col s8 m8 l8 push-l2 push-m2 push-s2">
            <span class="home-span">Our Goals are set on showing every hunter a Great Hunt, a completely fair chase, challenging and awesome hunting experience. Hunting acreage totals 47,000+ acres.</span>
        </div>
    </div>
    <a onclick="$('#what_we').click()"><img src="images/bala.png" class="responsive-img mouse"></a>
</div>