<div class="Wrapper-Lodge col m12 l12 s12">
    <div class="row center center-align">
        <div class="col s6 m6 l6 push-l3 push-m3 push-s3">
            <img src="images/lodge.png" class="responsive-img" style="height:20%;margin-top:10%;">
        </div>
    </div>
    <div class="center center-align white-text">
        <h3>WORLD CLASS LODGE AND SERVICES</h3>
    </div>
    <hr noshade="noshade" width="15%" align="center" style="background-color:#635649;border:none; height: 5px;margin-top:5%;margin-bottom: 5%;" />
    <div class="center center-align container">
        <span class="white-text">
            We can provide you with a great hunting experience without diminishing the comforts from being outside the city, enjoy our top of the class hospitality. Our hunting lounge has been designed with confort in mind after a  day of being with nature, so you can rest and have a greater hunting experience.
        </span>
    </div>
</div>