<div class="Wrapper-Lodge col m12 l12 s12">
    <div class="row center center-align">
        <div class="col s6 m6 l6 push-l3 push-m3 push-s3">
            <img src="images/guns.png" class="responsive-img" style="width:50%;margin-top:10%;">
        </div>
    </div>
    <div class="center center-align white-text">
        <h3>MEDIA GALLERY</h3>
    </div>
    <hr noshade="noshade" width="15%" align="center" style="background-color:#44331b;border:none; height: 5px;margin-top:5%;margin-bottom: 5%;" />
    <div class="center center-align container">
        <span class="white-text">
            Since 1988 we have been working hard to create and keep our first-level hunting ranch. Not only in Mexico, but other places of the world, our ranch is considere done of the best ranches for hunting. 
        </span>
    </div>
</div>